<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Search TV Show</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/angucomplete.css">
	<link rel="stylesheet" href="css/custom.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="js/app.js"></script>
	<script src="js/search/search.controller.js"></script>
	<script src="js/schedule/schedule.controller.js"></script>
	<script src="js/favorite/favorite.controller.js"></script>
	<script src="js/search/search.service.js"></script>
	<script src="js/show/show.service.js"></script>
	<script src="js/show/show.controller.js"></script>
	<script src="js/angular-cookies.min.js"></script>

</head>
<style>
</style>
<body ng-app="app" style="background-color: DimGray">
<div class="container">
	
	<nav class="navbar navbar-inverse nav-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TVMaze API</a>
		</div>
	<ul class="nav navbar-nav">
		<li><a href="/">Search for Shows</a></li>
		<li><a href="/schedule">Schedule</a></li>
		<li><a href="/favorite">Favorites</a></li>
	</ul>
	</nav>

	<div ng-view></div>
</div>

</body>
</html>